<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/styles.css" />
  <link rel="icon" href="assests/weather.png" />
  <title>About Me</title>
</head>

<body>
  <div class="content">
    {{>header}}
    <img class="aboutImg" src="assests/tree_of_gondor.jpg" />
  </div>

  {{>footer}}

</body>

</html>